*{
    font-size: 15px;
    font-weight: 100;
}

h3{
    color: blue;
}

h4{
    color: darkslateblue;
}

.myclass{
    color: brown;
}

#myid{
    color: rgb(24, 98, 209);
}

h5,p{
    color: rgb(166, 20, 179);
}